body,
body * {
margin: 0;
padding: 0;
vertical-align: top;
box-sizing: border-box;
font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.container {
    width: 800px;
    min-height: 300px;
    margin-left: calc((100% - 800px) / 2);
    margin-top: 50px;
    margin-bottom: 50px;
    border: 2px solid black;
    border-radius: 10px;
    background: #2193b0;
}

.container > h1 {
    width: 100%;
    color: #fff;
    font-size: 35px;
    text-align: center;
    padding: 20px;
}

.container > form > input {
    display: block;
    width: 200px;
    margin-left: calc((100% - 200px) / 2);
    border: none;
    border-bottom: 1px solid #ccc;
    font-size: 20px;
    margin-bottom: 20px;
}

.container > form > label {
    margin-left: calc((100% - 200px) / 2);
    color: #fff;
    font-size: 20px;
}

.container > form > button {
    display: inline-block;
    background-color: #fff;
    color: #2193b0;
    padding: 10px;
    line-height: 20px;
    padding-left: 50px;
    padding-right: 50px;
    border: 2px solid  #2193b0;
    border-radius: 20px;
    font-weight: bold;
    cursor: pointer;
    margin-left: calc((100% - 200px) / 2);
}

.container > form > button:hover {
    background-color: #2193b0;
    color: #fff;
    border: 2px solid #fff;
}

.container > .answer {

}

.container > .answer > p {
    text-align: center;
    font-size: 30px;
    color: #fff;
    padding: 30px;
}

.container > .answer > img {
    width: 80%;
    margin-left: 10%;
}




@media (max-width: 660px) {
    .container {
        width: 400px;
        margin-left: calc((100% - 400px) / 2);
        margin-top: 30px;
        margin-bottom: 30px;
    }
}


@media (max-width: 420px) {
    .container {
        width: 300px;
        margin-left: calc((100% - 300px) / 2);
        margin-top: 15px;
        margin-bottom: 15px;
    }
}